#pet_img{
  width: 175px;
}

.pet_group{
  width: 185px;
}

#game{
  display: none;
  padding: 35px 0;
}
body {
  background-color: rgb(21, 23, 24);
}


.promo{
  text-align: center;
  padding-top: 120px;
  height: 40vh;
  background: rgb(21, 23, 24);
}

.banner{
  background-color: rgba(43, 50, 53, 0.8);
  padding-top: 5px;
  padding-bottom: 40px;
  border-radius: 10px;
  width: 900px;
  margin-top: -70px;
  text-align: center;
  display: inline-block;
  color: white;
}

.btn-homepage{
  background-color: rgb(68, 168, 214) ;
  border-radius: 30px;
  border-color: rgb(6, 54, 78);
  padding: 14px 3vw;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 15px;
}

.btn-homepage:hover{
  color: black;
  background-color: rgb(144, 192, 216);
  border-color: rgb(48, 113, 146);

}

.col-md-4{
  color: rgb(160, 148, 148);
}

.display-4 {
  color: rgb(140, 131, 131);
}

.feed_button{
  margin-top: 5px;

}

.card-body{
  font-size: small;
}

