*, *::before, *::after {
  margin: 0;
  padding: 1;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  overflow-y: scroll;
}

body{
  background: #242627;
}
.head_ears_loc{
  position: relative;
}

#cat__loc{
  position: relative;
  top: -25px;
  left: -35px;
}

#cat__head{
  background-color: rgb(136, 150, 150);
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: relative; 
}

.eyesParent{
  position: relative;
  top: 30px;
  left: 0px;
  display: flex;
  justify-content: center;
}

.cat__eye{
  background-color: azure;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 9px;
  position: relative;
}

#pupils{
  background-color: rgb(0, 0, 0);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 7px;
}

.ref{
  background-color: rgb(234, 240, 245);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  top: 1px;
  left: 15px;
}

.earsParent{
  position: relative;
  top: 1px;
}

#earL{
  position: relative;
}
#earR{
  position: relative;
}

#left_ear{
  left: 0;
  top: -22px;
}
#right_ear{
  left: 80px;
  top: -21px;
}

#earShape{
  border-radius: 90px 0px 90px 0px;
  background-color: rgb(121, 151, 151);
  height: 90px;
  width: 60px;
  position: relative;
}

.nose{
  background-color: rgb(138, 90, 160);
  width: 33px;
    height: 34px;
    border-radius: 10% 40% 50% 40%;
    position: absolute;
    top: 3px;
    left: 83px;
    transform: rotate(224deg);
}

.mouthParent{
  width: 89px;
  height: 61px;
  position: relative;
  top: 0px;
  left: -22px;
  transform: scale(.85);
}

.left_mouth{
  position: absolute;
  left: -1px;
  top: 1px;
}

.right_mouth{
  position: absolute;
  left: 157px;
  top: 29px;
  transform: rotate(-186deg);
}

#cat__mouth{
  background-color: #a5bba5;
  width: 45px;
  height: 42px;
  border-radius: 50%;
  position: relative;
  left: 53px;
  top: 17px;

}

.whiskers1{
  background-color: #232323;
  width: 60px;
  height: 3px;  
  position: relative;
  left: -46px;
  top: 10px;
  transform: rotate(
    8deg
    );
}

.whiskers2{
  background-color: #232323;
  width: 60px;
  height: 3px;  
  position: relative;
  left: -46px;
  top: 16px;
  transform: rotate(3deg);
}

.whiskers3{
  background-color: #232323;
  width: 60px;
  height: 3px;  
  position: relative;
  left: -46px;
  top: 26px;
  transform: rotate(-186deg);
}

#cat__body{
  background-color: rgb(136, 150, 150);
  width: 220px;
  height: 259px;
  border-radius: 30% 49% 30% 50%;
  position: absolute;
  top: 100px;
  left: -27px;
  transform: scale(0.8);
}

.cat__chest{
  background-color: rgb(220, 233, 233);
  width: 120px;
  height: 159px;
  border-radius: 30% 50% 30% 50%;
  position: absolute;
  top: 104px;
  left: 58px;
}

.pattern_Parent{
  position: relative;
  z-index: 1;
}

.patternLt{
  position: absolute;
}
.patternRt{
  position: absolute;
  transform: scaleX(-1);
  right: 29px;
}

#patternShapeL1{
  background-color: rgb(122, 190, 31);
  width: 41px;
  height: 16px;
  position: absolute;
  border-radius: 5% 70% 70% 5%;
  transform: rotate(47deg);
  top: 24px;
  left: 20px;
}

#patternShapeL2{
  background-color: rgb(122, 190, 31);
  width: 41px;
  height: 16px;
  position: absolute;
  border-radius: 5% 70% 70% 5%;
  transform: rotate(47deg);
  top: 55px;
  left: 2px;
}

#patternShapeL3{
  background-color: rgb(122, 190, 31);
  width: 34px;
  height: 13px;
  position: absolute;
  border-radius: 5% 70% 70% 5%;
  transform: rotate(15deg);
  top: 95px;
  left: 2px;
}

#patternShapeR1{
  background-color: rgb(122, 190, 31);
  width: 41px;
  height: 16px;
  position: absolute;
  border-radius: 5% 70% 70% 5%;
  transform: rotate(47deg);
  top: 24px;
  left: 20px;
}

#patternShapeR2{
  background-color: rgb(122, 190, 31);
  width: 41px;
  height: 16px;
  position: absolute;
  border-radius: 5% 70% 70% 5%;
  transform: rotate(47deg);
  top: 55px;
  left: 2px;
}

#patternShapeR3{
  background-color: rgb(122, 190, 31);
  width: 34px;
  height: 13px;
  position: absolute;
  border-radius: 5% 70% 70% 5%;
  transform: rotate(15deg);
  top: 95px;
  left: 2px;
}


.hindLegsParent{
  position: absolute;
}

.left_hindLegs{
  left: 0px;
}
.right_hindLegs{
  left: 0px;
}

#hindLegsShape{
  background-color: rgb(136, 150, 150);
  width: 130px;
  height: 143px;
  border-radius: 30% 50% 30% 50%;
  position: absolute;
  top: 121px;
  left: 128px;
  z-index: -1;
}


.cat_tail_loc{
  position: relative;

 
}

#cat__tail{
  position: relative;
  background-color: rgb(57, 128, 128);
  width: 169px;
  height: 43px;
  border-radius: 99% 42% 91% 21%;
  top: 200px;
  left: 132px;
  z-index: -2;
}

.front_legs_Parent{
  position: relative;
  top: 30px;
}

#leg{
  background-color: rgb(136, 150, 150);
  width: 66px;
  height: 245px;
  border-radius: 30%;
  position: absolute;
}

#frontLegs_lft{
  left: 10px;
}

#frontLegs_rt{
  left: 123px;
}



#front_pawsR{
  background-color: rgb(197, 206, 206);
  top: 200px;
  width: 66px;
  height: 65px;
  border-radius: 47% 33% 46% 27%;
  position: relative;
  top: 200;
}

#front_pawsL{
  background-color: rgb(197, 206, 206);
  top: 200px;
  width: 66px;
  height: 65px;
  border-radius: 47% 33% 46% 27%;
  position: relative;
  top: 200;
}

/*
b, strong{
  color: #ab706d;
}
*/


